* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}   

.container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}