* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 400;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: 0;
}   



img {
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, p {
    margin: 0;
}