.header{
  display: flex;
  background-color: #012D63;
  
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: 100px;
  height: 60px;
  margin-right: auto;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
    display: flex;
    gap: 30px;
    margin-right: 340px;
}
.header-link {
        font-family: "Roboto", sans-serif;
        font-style: light;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.02em;
            color: #C7C7C7;
}
.header-link:hover {
    display: flex;
    font-weight: 400;
    color: #FFFFFF;
}
/*MAIN*/
/*MAIN*/
/*MAIN*/
/*MAIN*/
/*MAIN*/
/*MAIN*/
/*MAIN*/
.main-hero {
    display: flex;
    background-image: url(./immg/Group\ 37\ \(1\)\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 858px;
    
    
}

.hero-logo::before {
    background-image: url(./immg/logo\ \(2\).png);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    display: block;
    width: 160px;
    height: 120px;
}
.hero-logo{
    font-family: "PT serif", serif;
font-weight: 400;
font-size: 48px;
color: #fff;
font-style: normal;

}
.hero-title {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-size: 144px;
    color: #fff;
    font-style: normal;
    margin: 265px 0 643px 447px;
    max-width: 640px;
}

.hero-subtitle {
    font-family: "Playfair Display SC", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    color: #FFFFFF;
}
.hero-description {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    background-color: #8E32C6;
    color: #FFFFFF;
    border-radius: 10px;
}

/*FEAUTURES*/
/*FEAUTURES*/
/*FEAUTURES*/
/*FEAUTURES*/
/*FEAUTURES*/
/*FEAUTURES*/

.section-features{
    display: flex;
    background-repeat: no-repeat;
    height: 606px;
    background: #012D63;
    background: radial-gradient(circle, rgba(1, 45, 99, 1) 0%, rgba(0, 183, 255, 1) 50%, rgba(132, 31, 255, 1) 100%);
}

.quality {
    display: flex;
    font-family: "Playfair Display SC", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}

.quality::after {
    background-image: url(./immg/zvezdi.png);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    height: 240px;
    width: 240px;
    margin-right: 150px;
}

.paint {
    display: flex;
    font-family: "Playfair Display SC", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}
.paint::before {
    background-image: url(./immg/kraski.png);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    height: 240px;
    width: 240px;
    
}

.shipping {
    display: flex;
    font-family: "Playfair Display SC", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}
.shipping::before {
    background-image: url(./immg/gruzan.png);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    height: 240px;
    width: 240px;
}

/*section rewiews*/
/*section rewiews*/
/*section rewiews*/
/*section rewiews*/
/*section rewiews*/
/*section rewiews*/
/*section rewiews*/
/*section rewiews*/
/*section rewiews*/
/*section rewiews*/
.section-reviews {
    display: flex;
    background-color: #012D63;
    height: 520px;
}

.reviews-title {
    font-family: "Playfair Display SC", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 430px;
    margin-top: 25px;
    margin-left: 633px;
    margin-right: 633px;
}
.reviews-description.gradient1 {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    max-width: 228px;
    background: #00E5E6;
    background: linear-gradient(320deg, rgba(0, 229, 230, 1) 0%, rgba(154, 118, 249, 1) 30%, rgba(204, 94, 194, 1) 60%, rgba(0, 168, 247, 1) 90%);
    margin-left: -941px;
    margin-top: 114px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reviews-date.g1 {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #C7C7C7;
    margin-left: -941px;
    margin-top: 130px;
    max-width: 36px;
    background: #00E5E6;
    background: linear-gradient(320deg, rgba(0, 229, 230, 1) 0%, rgba(154, 118, 249, 1) 30%, rgba(204, 94, 194, 1) 60%, rgba(0, 168, 247, 1) 90%);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reviews-name.g1 {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: -941px;
    margin-top: 8px;
    background: #00E5E6;
    background: linear-gradient(320deg, rgba(0, 229, 230, 1) 0%, rgba(154, 118, 249, 1) 30%, rgba(204, 94, 194, 1) 60%, rgba(0, 168, 247, 1) 90%);
    max-width: 130px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reviews-year.g1 {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #C7C7C7;
    margin-left: -941px;
    margin-top: 130px;
    max-width: 36px;
    background: #00E5E6;
    background: linear-gradient(320deg, rgba(0, 229, 230, 1) 0%, rgba(154, 118, 249, 1) 30%, rgba(204, 94, 194, 1) 60%, rgba(0, 168, 247, 1) 90%);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.reviews-list {
    display: flex;
    justify-content: space-between;
}

.reviews-description.gradient2 {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    max-width: 228px;
    background: #FF68B4;
    background: linear-gradient(30deg, rgba(255, 104, 180, 1) 0%, rgba(255, 69, 225, 1) 30%, rgba(206, 58, 255, 1) 60%, rgba(137, 97, 255, 1) 90%);
    margin-left: -600px;
    margin-top: 114px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.reviews-date.g2 {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #C7C7C7;
    margin-left: -600px;
    margin-top: 130px;
    max-width: 36px;
    background: #FF68B4;
    background: linear-gradient(30deg, rgba(255, 104, 180, 1) 0%, rgba(255, 69, 225, 1) 30%, rgba(206, 58, 255, 1) 60%, rgba(137, 97, 255, 1) 90%);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.reviews-name.g2 {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: -600px;
    margin-top: 8px;
    background: #FF68B4;
    background: linear-gradient(30deg, rgba(255, 104, 180, 1) 0%, rgba(255, 69, 225, 1) 30%, rgba(206, 58, 255, 1) 60%, rgba(137, 97, 255, 1) 90%);
    max-width: 130px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.reviews-year.g2 {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #C7C7C7;
    margin-left: -600px;
    margin-top: 130px;
    max-width: 36px;
    background: #FF68B4;
    background: linear-gradient(30deg, rgba(255, 104, 180, 1) 0%, rgba(255, 69, 225, 1) 30%, rgba(206, 58, 255, 1) 60%, rgba(137, 97, 255, 1) 90%);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reviews-description.gradient3 {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    max-width: 228px;
    background: #FFE128;
    background: linear-gradient(30deg, rgba(255, 225, 40, 1) 0%, rgba(255, 155, 92, 1) 30%, rgba(255, 131, 129, 1) 60%, rgba(255, 84, 137, 1) 90%);
    margin-left: -300px;
    margin-top: 114px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reviews-name.g3 {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: -300px;
    margin-top: 8px;
    background: #FFE128;
    background: linear-gradient(30deg, rgba(255, 225, 40, 1) 0%, rgba(255, 155, 92, 1) 30%, rgba(255, 131, 129, 1) 60%, rgba(255, 84, 137, 1) 90%);
    max-width: 130px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reviews-date.g3 {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #C7C7C7;
    margin-left: -300px;
    margin-top: 130px;
    max-width: 36px;
    background: #FFE128;
    background: linear-gradient(30deg, rgba(255, 225, 40, 1) 0%, rgba(255, 155, 92, 1) 30%, rgba(255, 131, 129, 1) 60%, rgba(255, 84, 137, 1) 90%);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reviews-year.g3 {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #C7C7C7;
    margin-left: -300px;
    margin-top: 130px;
    max-width: 36px;
    background: #FFE128;
    background: linear-gradient(30deg, rgba(255, 225, 40, 1) 0%, rgba(255, 155, 92, 1) 30%, rgba(255, 131, 129, 1) 60%, rgba(255, 84, 137, 1) 90%);
    justify-content: center;
    align-items: center;
    text-align: center;
}