.header {
  background-color: #012D63;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px solid red;
}

.header .header-container {
    display: flex;
    align-items: center;
}

.header-logo {
  width: 100px;
  height: 60px;
  margin-right: auto;
}



.header-list {
    display: flex;
    gap: 30px;
    align-items: center;
}
.header-link {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #c7c7c7;
}

.header-link:hover {
    color: #FFFFFF;
}

.eng {
    font-weight: 400;
    color: #fff;
}

.main-hero {
    padding-bottom: 184px;
    padding-top: 94px;
    background-image: url(./immg/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image {
    padding-left: 6px;
    width: 160px;
    height: 120px;
    margin-bottom: -35px;
}

.hero-mark {
    font-family: 'PT Serif', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    padding-left: 31px;
}

.hero-subtitle {
    font-family: "Playfair Display sc", sans-serif;
    font-weight: 400;
    font-size: 144px;
    color: #fff;
}

.section-features{
    padding-top: 105px;
    padding-bottom: 105px;
    background-image: url("./immg/tipo-gradient_2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.hero-text {
    font-family: "Roboto", sans-serif;
    margin-top: 12px;
    margin-bottom: 41px;
    width: 508px;
    font-weight: 400;
font-size: 18px;
color: #fff;
}

.hero-subtext {
    font-family: "Playfair Display sc", sans-serif;
    font-weight: 400;
font-size: 72px;
color: #fff;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    border-radius: 10px;
    width: 254px;
    height: 67px;
    background-color: #8e32c6;
}


.f-image {
    width: 240px;
    height: 240px; 
}

.features-text {
    display: flex;
    font-family: "Playfair Display sc", sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #fff;
}

.featuers-list {
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
}

.features-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.section-reviews {
    padding-top: 114px;
    padding-bottom: 114px;
    background-image: url("./immg/tipo-gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.reviews-title {
    font-family: "Playfair Display sc", sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    text-align: center;
    margin-bottom: 24px;
}

.reviews-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.reviews-description {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    width: 228px;
    height: 112px;
    margin-bottom: 8px;
    margin-top: 49px;
    margin-right: 14px;
    margin-left: 14px;
}

.reviews-date {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #D8D8D8;
    width: 36px;
    height: 16px;
    margin-bottom: 47px;
    margin-left: 14px;
}

.reviews-name {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    width: 101px;
    height: 16px;
    margin-left: 49px;
}


.reviews-year {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #D8D8D8;
    width: 99px;
    height: 14px;
    margin-left: 49px;
}

.reviews-item.g1 {
    width: 255px;
    height: 292px;
    background: linear-gradient(
    150deg,rgba(0, 229, 230, 1) 0%,rgba(0, 168, 247, 1) 30%,rgba(154, 118, 249, 1) 60%,rgba(204, 94, 194, 1) 100%);
    border-radius: 15px;
    box-shadow:0px 14px 0px -5px rgba(123, 84, 178, 0.75),
    0px 30px 0px -13px rgba(83, 57, 120, 0.75);
}

.reviews-item.g2 {
    width: 255px;
    height: 292px;
    background: #FF68B4;
    background: linear-gradient(150deg, rgba(255, 104, 180, 1) 0%, rgba(255, 69, 225, 1) 30%, rgba(206, 58, 255, 1) 60%, rgba(137, 97, 255, 1) 100%);
    border-radius: 15px;
    box-shadow: 0px 14px 0px -5px rgba(145,89,177,0.75),
    0px 30px 0px -13px rgba(97,51,124,0.75);
    
}

.reviews-item.g3 {
    width: 255px;
    height: 292px;
    background: #FFE128;
    background: linear-gradient(150deg, rgba(255, 225, 40, 1) 0%, rgba(255, 155, 92, 1) 30%, rgba(255, 131, 129, 1) 60%, rgba(255, 84, 137, 1) 100%);   
    border-radius: 15px;
    box-shadow: 0px 14px 0px -5px rgba(185,90,76,0.75),
    0px 30px 0px -13px rgba(115,47,38,0.75);
}

.section-order {
    padding-top: 124px;
    padding-bottom: 124px;
    background-image: url("./immg/fon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.order-title {
    font-family: "Playfair Display sc", sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 21px;
}

.order-item {
    
}

.write-email {
    width: 690px;
    height: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-left: 210px;
    align-items: center;
    border-radius: 50px;
}

.write-country {
    width: 580px;
    height: 50px;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-left: 265px;
    border-radius: 50px;
}

.write-city {
    width: 580px;
    height: 50px;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-left: 265px;
    border-radius: 50px;
}

.write-address {
    width: 580px;
    height: 50px;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-left: 265px;
    border-radius: 50px;
}

.confirm-button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #8D8D8D;
    align-items: center;
    width: 250px;
    height: 50px;
    margin-left: -263px;
    border-radius: 50px;
    
}

.nike-button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    border-radius: 10px;
    width: 254px;
    height: 67px;
    background-color: #8e32c6;
    margin-left: 443px;
}


.section-podval {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #021635;
}

.podval-item {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
}

.podval-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
}