.header{
  display: flex;
  background-color: #012D63;
  
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: 100px;
  height: 60px;
  margin-right: auto;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
    display: flex;
    gap: 30px;
    margin-right: 340px;
}
.header-link {
        font-family: "Roboto", sans-serif;
        font-style: light;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.02em;
            color: #C7C7C7;
}
.header-link:hover {
    display: flex;
    font-weight: 400;
    color: #FFFFFF;
}
/*MAIN*/
/*MAIN*/
/*MAIN*/
/*MAIN*/
/*MAIN*/
/*MAIN*/
/*MAIN*/
.main-hero {
    display: flex;
    background-image: url(./immg/Group\ 37\ \(1\)\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 858px;
    
    
}

.hero-logo::before {
    background-image: url(./immg/logo\ \(2\).png);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    display: block;
    width: 160px;
    height: 120px;
}
.hero-logo{
    font-family: "PT serif", serif;
font-weight: 400;
font-size: 48px;
color: #fff;
font-style: normal;

}
.hero-title {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-size: 144px;
    color: #fff;
    font-style: normal;
    margin: 265px 0 643px 447px;
    max-width: 640px;
}

.hero-subtitle {
    font-family: "Playfair Display SC", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    color: #FFFFFF;
}
.hero-description {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    background-color: #8E32C6;
    color: #FFFFFF;
    border-radius: 10px;
}

/*FEAUTURES*/
/*FEAUTURES*/
/*FEAUTURES*/
/*FEAUTURES*/
/*FEAUTURES*/
/*FEAUTURES*/

.section-features{
    display: flex;
    background-repeat: no-repeat;
    height: 606px;
    background: #012D63;
    background: radial-gradient(circle, rgba(1, 45, 99, 1) 0%, rgba(0, 183, 255, 1) 50%, rgba(132, 31, 255, 1) 100%);
}

.quality {
    display: flex;
    font-family: "Playfair Display SC", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}

.quality::after {
    background-image: url(./immg/zvezdi.png);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    height: 240px;
    width: 240px;
    margin-right: 150px;
}

.paint {
    display: flex;
    font-family: "Playfair Display SC", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}
.paint::before {
    background-image: url(./immg/kraski.png);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    height: 240px;
    width: 240px;
    
}

.shipping {
    display: flex;
    font-family: "Playfair Display SC", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}
.shipping::before {
    background-image: url(./immg/gruzan.png);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    height: 240px;
    width: 240px;
}

/*section rewiews*/
/*section rewiews*/
/*section rewiews*/
/*section rewiews*/
/*section rewiews*/
/*section rewiews*/
/*section rewiews*/
/*section rewiews*/
/*section rewiews*/
/*section rewiews*/
.section-reviews {
    display: flex;
    background-color: #012D63;
    height: 520px;
}

.reviews-title {
    font-family: "Playfair Display SC", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #FFFFFF;
    margin: 60px 0 40px 0;
}