.header .container {
  display: flex;
  background-color: #012D63;
  
}
.header-logo {
  width: 100px;
  height: 60px;
  margin-right: auto;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
    display: flex;
    gap: 30px;
    margin-right: 340px;
}
.header-link {
        font-family: "Roboto", sans-serif;
        font-style: light;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.02em;
            color: #C7C7C7;
}
.header-link:hover {
    display: flex;
    font-weight: 400;
    color: #FFFFFF;
}
/*MAIN*/
/*MAIN*/
/*MAIN*/
/*MAIN*/
/*MAIN*/
/*MAIN*/
/*MAIN*/
.main-hero {
    display: flex;
    background-image: url(./immg/Group\ 37\ \(1\)\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 858px;
    
}

.hero-logo::before {
    background-image: url(./immg/logo\ \(2\).png);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 120px;
}
.hero-logo{
    font-family: "PT serif", serif;
font-weight: 400;
font-size: 48px;
color: #fff;
font-style: normal;
width: 178px;
height: 86px;
}
.hero-title {
    font-family: "Playfair Display SC", serif;
    width: 640px;
    height: 192px;
    font-weight: 400;
    font-size: 144px;
    color: #fff;
    font-style: normal;
    margin-top: 159px;
    margin-left: -157px;
}

.hero-subtitle {
    font-family: "Playfair Display SC", serif;
    font-style: normal;
    width: 540px;
    height: 96px;
    font-weight: 400;
    font-size: 72px;
    color: #FFFFFF;
    margin-top: 300px;
    margin-left: -640px;
    
}
.hero-description {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    width: 508px;
    height: 84px;
    margin-top: 420px;
    margin-left: -300px;
}
.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    background-color: #8E32C6;
    color: #FFFFFF;
    border-radius: 10px;
    width: 254px;
    height: 67px;
    margin-top: 550px;
    margin-left: -200px;
}