.main-hero {
    padding-bottom: 184px;
    padding-top: 94px;
    background-image: url(../immg/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image {
    padding-left: 6px;
    width: 160px;
    height: 120px;
    margin-bottom: -35px;
}

.hero-mark {
    font-family: 'PT Serif', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    padding-left: 31px;
}

.hero-subtitle {
    font-family: "Playfair Display sc", sans-serif;
    font-weight: 400;
    font-size: 144px;
    color: #fff;
}

.hero-text {
    font-family: "Roboto", sans-serif;
    margin-top: 12px;
    margin-bottom: 41px;
    width: 508px;
    font-weight: 400;
font-size: 18px;
color: #fff;
}

.hero-subtext {
    font-family: "Playfair Display sc", sans-serif;
    font-weight: 400;
font-size: 72px;
color: #fff;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    border-radius: 10px;
    width: 254px;
    height: 67px;
    background-color: #8e32c6;
}