.section-podval {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #021635;
}

.podval-item {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
}

.podval-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
}